<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Hello, <%= @user.username %></h1>
    <p>
      Your registration has been successful.<br>
    </p>
    <p>
      To respond to your registration, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>