<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Hello, <%= @guest.email %></h1>
    <p>
      You have been invited to this event,
      Please respond for your presense.<br>
    </p>
    <p>
      To respond to this event, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>